<nav>
  <div class="nav-wrapper">
    <div class="row">
      <div class="col s12">
        <a [routerLink]="['']" class="brand-logo">Serie A</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            <a [routerLink]="['teams']">Teams</a>
          </li>
          <li>
            <a [routerLink]="['standings']">Standings</a>
          </li>
          <li>
            <a [routerLink]="['matches']">Matches</a>
          </li>
          <li>
            <a [routerLink]="['favorites']">Favorites</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<nav>
  <div class="nav-wrapper">
    <div class="row">
      <div class="col s12">
        <a *ngFor="let url of urls" class="breadcrumb">
          {{url}}
        </a>
      </div>
    </div>
  </div>
</nav>
<div class="container custom-container">
  <router-outlet></router-outlet>
</div>
<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
      ©2018 Gabriel Mayta && Angelo Falci
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
