<div class="row home-container">
  <a [routerLink]="['teams']" class="col s3 center-align">
    <i class="medium material-icons">supervisor_account</i>
    <h4>Teams</h4>
  </a>
  <a [routerLink]="['standings']" class="col s3 center-align">
    <i class="medium material-icons">filter_1</i>
    <h4>Standings</h4>
  </a>
  <a [routerLink]="['matches']" class="col s3 center-align">
    <i class="medium material-icons">live_tv</i>
    <h4>Matches</h4>
  </a>
  <a [routerLink]="['favorites']" class="col s3 center-align">
    <i class="medium material-icons">favorite_border</i>
    <h4>Favorite</h4>
  </a>
</div>